<?xml version="1.0"?>

<launch>

  <arg name="dev" default="/dev/input/js1" />



  <group ns="quad">
    <!-- Launch joy node -->
    <node pkg="joy" type="joy_node" name="joy">
      <param name="dev" value="$(arg dev)" /> <!-- Customize this to match the location your joystick is plugged in on-->
      <param name="deadzone" value="0" />
      <param name="autorepeat_rate" value="0" />
      <param name="coalesce_interval" value="0.025" />
    </node>
    <node name="quad_joystick_interface" pkg="quad_joystick_interface" type="quad_joystick_interface" output="screen"/>
  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find quad_3dnav)/resource/moveit.rviz" output="screen"/>



</launch>
