<?xml version="1.0"?>

<robot name="quad" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Properties -->
  <xacro:property name="namespace" value="quad" />
  <xacro:property name="mesh_file" value="hummingbird.dae" />
  <xacro:property name="mesh_scale" value="1 1 1"/>
  <xacro:property name="body_width" value="1" /> <!-- [m] -->
  <xacro:property name="body_height" value="0.5" /> <!-- [m] -->
  <xacro:property name="color" value="DarkGrey" />



  <!-- Main multirotor link -->
  <xacro:macro name="multirotor_base_macro"
    params="robot_namespace body_width body_height mesh_file mesh_scale color">

    <link name="cam0">

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://rotors_description/meshes/${mesh_file}"
            scale="${mesh_scale}" />
          <!-- <box size="${body_width} ${body_width} ${body_height}"/> --> <!-- [m] [m] [m] -->
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${body_width} ${body_width} ${body_height}" /> <!-- [m] [m] [m] -->
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <!-- Instantiate multirotor_base_macro once -->
  <xacro:multirotor_base_macro
    robot_namespace="${namespace}"
    body_width="${body_width}"
    body_height="${body_height}"
    mesh_file="${mesh_file}"
    mesh_scale="${mesh_scale}"
    color="${color}">
  </xacro:multirotor_base_macro>

</robot>
